@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    background: #56A69E;
    font-family: "w95";
    /* font-style: normal; */
    /* font-weight: normal; */
    font-size: 80%;
}